<h1>Editando promoção </h1>
<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>
<% if @promotion.errors.any? %>
  <h4>Encontramos erro, promoção não foi atualizada</h4>
  <ul>
    <% @promotion.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<%= form_with model: @promotion, local: true do |form|%>
  <div>
    <%= form.label :name, 'Nome' %>
    <%= form.text_field :name%>
  </div>
  <div>
    <%= form.label :description, 'Descrição' %>
    <%= form.text_field :description%>
  </div>
  <div>
    <%= form.label :code, 'Código' %>
    <%= form.text_field :code%>
  </div>
  <div>
    <%= form.label :discount_rate, 'Desconto' %>
    <%= form.number_field :discount_rate, in: 10..90, step: 5 %>
  </div>
  <div>
    <%= form.label :coupon_quantity, 'Quantidade de cupons' %>
    <%= form.number_field :coupon_quantity%>
  </div>
  <div>
    <%= form.label :expiration_date, 'Data de término' %>
    <%= form.text_field :expiration_date %>
  </div>
  <%= form.submit "Atualizar promoção" %>
<% end %>
