<!DOCTYPE html>
<html>
  <head>
    <title>Sistema de Promoção</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <table>
      <tr>
        <th><%= link_to 'Home', root_path %></th>
      </tr>
    </table>
    <p><%= flash[:notice] %></p>
    <p><%= flash[:alert] %></p>
    <%= yield %>
  </body>
</html>
